<template>
    <div id="user">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" v-model="userName">
        <button @click="addUser">Add new</button>
        <ul>
            <li v-for="user in users">{{user.name}}</li>
        </ul>
    </div>
</template>

<script>

  export default {

    mounted: function () {
      //  this.fetchAllUsers();
     this.users = JSON.parse(this.usersall)
    },
    props: ['usersall'],
    data: function () {
      return {
        users: [],
        userName: "",
      }
    },
    methods: {
      addUser(){
        axios.post('/api/users', {
          name: this.userName
        }).then(response => {
          this.users = response.data
          Event.$emit('it', { msg: "Hello"});
        })
      },
      fetchAllUsers(){
        axios.get('/api/users')
            .then(response => {
              this.users = response.data
            })
            .catch(function (error) {
              console.log(error);
            });
      },

    },
//    filters: {
//      up: function (val){
//        return val.toUpperCase()  + "%";
//      }
//    }

  }
</script>
<style scoped>
    ul li {
        /*color: red;*/
    }

</style>
