<template>
    <div>
        <h1 @click="changeHappened">{{result}}</h1>
    </div>
</template>

<script>
  export default {
    mounted(){
      var that = this;
      Event.$on('it', function(data){
        that.result = "Change happened"
        alert(data.msg);
      })
    },
    data: function(){
      return {
        result: "No chages made"
      }
    },
    methods: {
      changeHappened() {
      //  alert('sdadas');
      }

    }


  }
</script>